/* styles.css */

/* Customize slick-dots styles */
.slick-dots {
    bottom: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 16px;
    color: white;
    background: #333;
    border: 2px solid #555;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.slick-dots li.slick-active button {
    background: #555;
}

/* Customize the container holding the slideshow */
.game-slideshow {
    max-width: 800px;
    margin: auto;
}
